.widthFull{
    width:100%;
}

.processing {
    width: 300px;
    align-self: center;
    padding: 10px;
    background-color: rgba(93, 207, 222,.9);
    border-radius: 5px;
    margin: auto;
    margin-top:10px;
}

.historyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historyItem {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    min-width: 300px;
    padding: 10px;
    text-align:center;
}    

    .historyItem input {
        width: 100%;
    }

.credit {
    background-color: rgba(255, 229, 231, 0.8);
}

.debit {
    background-color: rgba(232, 255, 232, 0.8);
}

.noItems {
    background-color: rgba(93, 207, 222,.8);
}

    .noItems p {
        padding: 10px;
        margin-bottom: 0;
    }

.title {
    font-style: italic;
    font-size: larger;
}

.value {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

.date {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

.historyTitle {
    margin-top: 0;
    padding: 5px;
    text-align: center;
    background-color: rgba(93, 207, 222,.9);
}

.filters{
    display:flex;
}

.filtersContainer {
    max-width: 600px;
    margin: auto;
}

.filtersContainer input{
    width:100%;
}